@charset "UTF-8";

	body{
		background-color:#ADD8E6;
		font-family: Arial;
		
	}
	p{
		text-align:justify;
		text-indent:50px;
	}	
	
	#interface {
		width: 1000px;
		background-color: #ffffff;
		margin: -20px auto 10px auto;
		box-shadow: 0px 0px 10px rgba(0,0,0,.5);
		padding: 10px;
	}
	
	/* Formatacao Cabecalho */
	
	#cabecalho{
		border-bottom: 1.5px #00BFFF solid;
		height: 150px;
		background-color:none;
	}
	
	#cabecalho h2{
		font-family: Tahoma;
		color: #FF69B4;
		font-size: 11pt;
		padding:0px;
		margin-top: 0px;
	}
	
	#login{
		width:650px;
		height:50px;
		position: absolute;
		top: 40px;
		left: 530px;
		font-family: tahoma;
		font-size: 18px;
	}
	
	hgroup#loginC{
		width:650px;
		position: absolute;
		top: 90px;
		left: 845px;
		font-family: tahoma;
		font-size: 13px;
	}
	hgroup#loginE{
		width:650px;
		position: absolute;
		top: 55px;
		left: 845px;
		font-family: tahoma;
		font-size: 13px;
	}
	
	hgroup#loginC a{
		color: #000000;
		
	}
	
	hgroup#loginE a{
		color: #000000;
		
	}
	
	form#cad{
		padding: 20px;
		font-family: tahoma;
		font-size: 17px;
	}
	
	.propagcad {
		font-family: Tahoma;
		font-size: 15px;
	}
	
	/*Formatacao Menu*/
	
	#menu {
		display: block;
	}
	
	#menu ul{
		list-style: none;
		text-transform: uppercase;
		position: absolute;
		top: -20px; /* Teste em -3% resultou em menu subindo além da tela em uma resolução de 1920 x 1080, e semelhante aos -20px em uma tela de 1366 x 768 */
		left: 38%; /* 38% ficou OK, o mesmo que os 500px */
	}
	
	#menu li{
		display: inline-block;
		background-color: #dddddd;
		padding: 10px;
		margin: 2px;
		transition: background-color 1s;
	}
	
	#menu li:hover {
		background-color: #00BFFF;
	}
	
	#menu h1{
		display: none;
	}
	
	#menu a{
		color: #000000;
		text-decoration: none;
	}
	
	#menu a:hover {
		color: #ffffff;
		text-decoration: underline;
	}
	
	/*Formatacao do corpo */
	
	#corpo{
		display: block;
		width: 1000px;
		float: left;	
		/*border-right: 1px #606060 solid*/ ;
		padding-right: 0px;
		background-color:none ;
	}
	
	#corpo h2 {
		font-family: Tahoma;
	}
	
	#corpo h4 {
		font-family: Tahoma;
	}
	
	#corpo img#imageindex{
	    width: 100%;
		height: 100%;
	}
	

	#lateral{
		display: block;
		width:350px;
		float: right;
	}
	
	#rodape{
		clear: both;
		border-top: 1.5px #FF69B4 solid;
		
	}
	
	#rodape p{
		text-align: center;
	}
	
	/*Formatação Corpo Feed */
	
	#corpofeed p {
		font-size: 14px;
		font-family: Tahoma;
		margin-top: 10px;
	}
	
	#corpofeed .nomeperf {
		font-size: 18px;
		padding-left: 30px;
		margin-top: -35px;
		font-family: Tahoma;
		position: absolute;  
	}
	
	#corpofeed .fotoperf {
		width:50px;
		height:50px;
		border-radius:50%;
		border:2px solid #000;
		background:#000;
		margin-top: 10px;
		
	}

	#corpofeed .data {
		font-family: Tahoma;
		font-weight: bold;
	}
	
	#corpofeed .local {
		font-family: Tahoma;
		font-weight: bold;
	}
	
	#corpofeed .custo {
		font-family: Tahoma;
		font-weight: bold;
	}
	
	#corpofeed .primfoto{
		width:300px;
		height:200px;
		border-radius:10%;
		border:1px solid #000;
		background:#000;
		
	}
	
	#corpofeed .segfoto{
		width:300px;
		height:200px;
		border-radius:10%;
		border:1px solid #000;
		background:#000;
		
	}
	
	#corpofeed .tercfoto{
		width:300px;
		height:200px;
		border-radius:10%;
		border:1px solid #000;
		background:#000;
		
	}
	
	#corpofeed .quarfoto{
		width:300px;
		height:200px;
		border-radius:10%;
		border:1px solid #000;
		background:#000;
		
	}
	
	#corpofeed .quinfoto{
		width:300px;
		height:200px;
		border-radius:10%;
		border:1px solid #000;
		background:#000;
		
	}

	#corpofeed .sextfoto{
		width:300px;
		height:200px;
		border-radius:10%;
		border:1px solid #000;
		background:#000;
	
	}

	/*Formatação página de post de evento */
	